/* ===== BODY ===== */

body{
    margin:0;
    padding:40px 20px;
    min-height:100vh;
    overflow-x:hidden;
    overflow-y:auto;
    display:flex;
    justify-content:center;
    align-items:flex-start;

    background:
    linear-gradient(rgba(255,255,255,0.08), rgba(255,255,255,0.08)),
    linear-gradient(135deg,#bfdcff,#d9c2ff);

    font-family: 'Trebuchet MS', sans-serif;

    position:relative;
}

/* ===== FLOATING HEARTS ===== */

.hearts{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
    overflow:hidden;
}

.heart{
    position:absolute;
    color:white;
    opacity:0.4;
    animation: floatUp linear infinite;
}

@keyframes floatUp{
    from{
        transform: translateY(100vh) scale(0.5);
        opacity:0;
    }

    20%{
        opacity:0.4;
    }

    to{
        transform: translateY(-120vh) scale(1.2);
        opacity:0;
    }
}

/* ===== MAIN CARD ===== */

.container{
    width:90%;
    max-width:850px;

    background:rgba(255,255,255,0.25);
    backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,0.3);

    border-radius:35px;

    padding:60px;

    box-shadow:
    0 10px 40px rgba(0,0,0,0.15),
    inset 0 0 20px rgba(255,255,255,0.2);

    animation: fadeIn 1.2s ease;
}

/* ===== TEXT ===== */

h1{
    text-align:center;
    color:#5f4b8b;
    font-size:42px;
    margin-bottom:25px;
}

p{
    font-size:20px;
    line-height:2;
    color:#374151;
    white-space:pre-line;
}

/* ===== BUTTONS ===== */

.buttons{
    margin-top:50px;
    position:relative;
    height:180px;
}

button{
    border:none;
    padding:18px 42px;
    border-radius:999px;
    font-size:20px;
    cursor:pointer;
    transition:0.25s;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

#startBtn{
    background:#8fbfff;
    color:white;
}

#yesBtn{
    background:#8fbfff;
    color:white;
    margin-right:20px;
}

#noBtn{
    background:#caa6ff;
    color:white;
    position:absolute;
}

button:hover{
    transform:scale(1.07);
}

/* ===== PAGE TRANSITION ===== */

.hidden{
    display:none;
}

.fade{
    animation: fadeSlide 1s ease;
}

@keyframes fadeSlide{
    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }
}

@keyframes fadeIn{
    from{
        opacity:0;
        transform:scale(0.96);
    }

    to{
        opacity:1;
        transform:scale(1);
    }
}

/* ===== FINAL TEXT ===== */

#finalMessage{
    margin-top:35px;
    text-align:center;
    font-size:34px;
    color:#5f4b8b;
    animation: fadeIn 1s ease;
}
